apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-express
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-express
  template:
    metadata:
      labels:
        app: node-express
    spec:
      containers:
        - name: node-express
          image: kriscfoster/node-express
          env:
            - name: DB_SCHEMA
              value: postgres
            - name: DB_USER
              value: postgres
            - name: DB_PASSWORD
              value: postgres
            - name: DB_HOST
              value: postgres
          ports:
            - containerPort: 5000
          imagePullPolicy: Never
